{% extends 'base/base.html' %}
{% load static %}

{% block title %}The Vampire Castle{% endblock %}


{% block castle_css %}
        <link rel="stylesheet" href="{% static 'vampireCastle/styles/castle.css' %}">
{% endblock %}


{% block page_content %}
    <main>
        <h1 class="main-header">Meet the Vampire Court members!</h1>
        <div class="vampires-wrapper">
            {% for vampire in vampires_list %}
                {% include 'includes/vampire_tile.html' with title=vampire.title name=vampire.name slug=vampire.slug image=vampire.image.url %}
            {% endfor %}
        </div>
    </main>
{% endblock %}