{% extends 'base.html' %}
{% load static %}

{% block cinema_css %}
    <link rel="stylesheet" href="{% static 'cinema/styles/pages/index.css' %}">
{% endblock %}



{% block title %}Cinema{% endblock %}

{% block page_content %}
    <div class="section">
        <div class="movie-program-wrapper">

            <div class="header-block">
                <h2>Movie program</h2>
                <span>in Dortburg now</span>
            </div>

            <div class="program-block">
                {% for movie in movie_list %}
                    {% include 'components/movie-tile.html' with image=movie.poster.url genre=movie.genre age=movie.age_rating title=movie.name %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}

