footer {
    background: #16215B;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    min-height: 6em;
}

.footer-links, .logo {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
